<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WİND-KOD DOĞRULAMA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/giris.css') }}">
</head>

<body>
    <section>
        <div class="login-box">
            <!-- Flash Messages -->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div style="position: absolute; top: 10px; width: 90%; z-index: 10;">
                {% for category, message in messages %}
                <div
                    style="width: 100%; text-align: center; padding: 10px; border-radius: 10px; font-size: 0.85em; color: white; margin-bottom: 5px; box-shadow: 0 2px 5px rgba(0,0,0,0.2);
                        background-color: {% if category == 'error' %}rgba(220, 53, 69, 0.9){% else %}rgba(25, 135, 84, 0.9){% endif %};">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}

            <form method="POST">
                <h2>KODU GİRİNİZ</h2>
                <div class="input-box">
                    <span class="icon"><ion-icon name="key"></ion-icon></span>
                    <input type="text" name="code" placeholder="Doğrulama Kodu" required>
                    <label>E-postanıza Gelen Kodu Girin</label>
                </div>

                <button type="submit">Doğrula</button>
            </form>
        </div>

    </section>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>

</html>