<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- tarayıcının en güncel dökümanını kullanır -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CLICK-KAYIT </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/giris.css') }}">

</head>

<body>

    <section>
        <div class="login-box">
            <form method="POST">
                {{ form.hidden_tag() }}
                <h2>KAYIT OL</h2>
                <!-- Linked to Form Fields -->
                <div class="input-box">
                    {{ form.first_name(placeholder="Ad", required=True) }}
                    <label>Adınızı Giriniz</label>
                </div>
                <div class="input-box">
                    {{ form.last_name(placeholder="Soyad", required=True) }}
                    <label>Soyadınızı Giriniz</label>
                </div>
                <div class="input-box">
                    {{ form.phone(placeholder="Telefon Numarası", type="tel", required=True) }}
                    <label>Telefon Numaranızı Giriniz</label>
                </div>
                <div class="input-box">
                    {{ form.email(placeholder="Email", type="email", required=True) }}
                    <label>Emailinizi Giriniz</label>
                </div>
                <div class="input-box">
                    {{ form.password1(placeholder="Şifre", required=True) }}
                    <label>Şifrenizi Giriniz</label>
                </div>
                <div class="input-box">
                    {{ form.password2(placeholder="Tekrar Şifre", required=True) }}
                    <label>Tekrar Şifrenizi Giriniz</label>
                </div>


                <button type="submit">Kayıt</button>
            </form>
        </div>

    </section>


    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>


</html>